* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.title {
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: #782221;
    width: 1160px;
}

.profile_pic {
    width: 200px;
    border-radius: 50%;
}

.identification {
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.id_item {
    padding: 10px;
}

.name {
    text-transform: uppercase;
}

.name, .profession {
    font-family: 'Lato';
}

address {
    background-color: #2c1d27;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address_item {
    padding: 20px;
    text-align: center;
    color: white;
    font-size: smaller;
    width: 300px;
}
